

table{
    width: 100%;
    background: linear-gradient(45deg, rgb(13, 255, 0), rgb(220, 19, 173) , rgb(0, 255, 195));
}
table tr td  img{
    border-radius: 30px;
    height: 80px;
    width: 30%;
    padding-left: 20px;
    align-items: center;

}
table tr td a{
    color: brown;
    text-decoration: none;

}
table tr td :host{
    background-color: rgba(13, 0, 0,0.3);
}
form{
    margin-left: 350px;
    border: solid 2px blue;
    width: 50%;
    margin-right: 150px;

}
button{
    border-radius: 13px;
    background-color: blue;
}

